@{
    ViewBag.Title = "Home Page";
}
<div class="panel panel-success">
    <div class="panel-heading"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></div>
    <div class="panel-body">
        
    </div>
</div>
